<%= form_with(model: type_user, local: true) do |form| %>
  <% if type_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_user.errors.count, "error") %> prohibited this type_user from being saved:</h2>

      <ul>
      <% type_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :type_user_name %>
  </div>

  <div class="field">
    <%= form.label :start_url %>
    <%= form.text_field :start_url, id: :type_user_start_url %>
  </div>

  <div class="field">
    <%= form.label :menu_start_url %>
    <%= form.text_field :menu_start_url, id: :type_user_menu_start_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
