<p id="notice"><%= notice %></p>

<h1>Type Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start url</th>
      <th>Menu start url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_users.each do |type_user| %>
      <tr>
        <td><%= type_user.name %></td>
        <td><%= type_user.start_url %></td>
        <td><%= type_user.menu_start_url %></td>
        <td><%= link_to 'Show', type_user %></td>
        <td><%= link_to 'Edit', edit_type_user_path(type_user) %></td>
        <td><%= link_to 'Destroy', type_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type User', new_type_user_path %>
