<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_user.name %>
</p>

<p>
  <strong>Start url:</strong>
  <%= @type_user.start_url %>
</p>

<p>
  <strong>Menu start url:</strong>
  <%= @type_user.menu_start_url %>
</p>

<%= link_to 'Edit', edit_type_user_path(@type_user) %> |
<%= link_to 'Back', type_users_path %>
