<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cbo %>
    <%= form.text_field :cbo, id: :employee_cbo %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount, id: :employee_discount %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :employee_start_date %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, id: :employee_birth_date %>
  </div>

  <div class="field">
    <%= form.label :cnh %>
    <%= form.text_field :cnh, id: :employee_cnh %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :employee_category %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :employee_gender %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, id: :employee_nationality %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <%= form.text_field :marital_status, id: :employee_marital_status %>
  </div>

  <div class="field">
    <%= form.label :naturalness %>
    <%= form.text_field :naturalness, id: :employee_naturalness %>
  </div>

  <div class="field">
    <%= form.label :father %>
    <%= form.text_field :father, id: :employee_father %>
  </div>

  <div class="field">
    <%= form.label :mother %>
    <%= form.text_field :mother, id: :employee_mother %>
  </div>

  <div class="field">
    <%= form.label :pis %>
    <%= form.number_field :pis, id: :employee_pis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
