<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Cbo</th>
      <th>Discount</th>
      <th>Start date</th>
      <th>Birth date</th>
      <th>Cnh</th>
      <th>Category</th>
      <th>Gender</th>
      <th>Nationality</th>
      <th>Marital status</th>
      <th>Naturalness</th>
      <th>Father</th>
      <th>Mother</th>
      <th>Pis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.cbo %></td>
        <td><%= employee.discount %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.birth_date %></td>
        <td><%= employee.cnh %></td>
        <td><%= employee.category %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.nationality %></td>
        <td><%= employee.marital_status %></td>
        <td><%= employee.naturalness %></td>
        <td><%= employee.father %></td>
        <td><%= employee.mother %></td>
        <td><%= employee.pis %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
