<p id="notice"><%= notice %></p>

<p>
  <strong>Cbo:</strong>
  <%= @employee.cbo %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @employee.discount %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @employee.start_date %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>

<p>
  <strong>Cnh:</strong>
  <%= @employee.cnh %>
</p>

<p>
  <strong>Category:</strong>
  <%= @employee.category %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @employee.nationality %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @employee.marital_status %>
</p>

<p>
  <strong>Naturalness:</strong>
  <%= @employee.naturalness %>
</p>

<p>
  <strong>Father:</strong>
  <%= @employee.father %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @employee.mother %>
</p>

<p>
  <strong>Pis:</strong>
  <%= @employee.pis %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
