<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @classroom.active %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @classroom.stage %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @classroom.degree %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
