<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_custumer_id %>
    <%= form.text_field :product_custumer_id, id: :invoice_product_custumer_id %>
  </div>

  <div class="field">
    <%= form.label :parcel %>
    <%= form.text_field :parcel, id: :invoice_parcel %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :invoice_status %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :invoice_number %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.date_select :due, id: :invoice_due %>
  </div>

  <div class="field">
    <%= form.label :generation %>
    <%= form.number_field :generation, id: :invoice_generation %>
  </div>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id, id: :invoice_school_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
