<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Product custumer</th>
      <th>Parcel</th>
      <th>Status</th>
      <th>Number</th>
      <th>Due</th>
      <th>Generation</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.product_custumer %></td>
        <td><%= invoice.parcel %></td>
        <td><%= invoice.status %></td>
        <td><%= invoice.number %></td>
        <td><%= invoice.due %></td>
        <td><%= invoice.generation %></td>
        <td><%= invoice.school %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
