<p id="notice"><%= notice %></p>

<p>
  <strong>Product custumer:</strong>
  <%= @invoice.product_custumer %>
</p>

<p>
  <strong>Parcel:</strong>
  <%= @invoice.parcel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Due:</strong>
  <%= @invoice.due %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @invoice.generation %>
</p>

<p>
  <strong>School:</strong>
  <%= @invoice.school %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
