
<%= simple_form_for([@school, @student]) do |f| %>
  <%= f.input :registration, :label => "Matrícula" %>
  <%= f.input :active %>
  <%= f.input :school_id %>
  <%= f.input :customer_id %>
  <%= f.input :school_history_id %>

  <%= f.simple_fields_for :student_user do |su| %>
    <%= su.simple_fields_for :user do |u| %>
      <% u.input :name %>
    <% end %>
  <% end %>

  <%= f.button :submit %>
<% end %>