<p id="notice"><%= notice %></p>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Registration</th>
      <th>Active</th>
      <th>Unit</th>
      <th>Customer</th>
      <th>School history</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.registration %></td>
        <td><%= student.active %></td>
        <td><%= student.unit %></td>
        <td><%= student.customer %></td>
        <td><%= student.school_history %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo aluno', new_school_student_path(1), :class => "btn btn-primary" %>
