<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @student.registration %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @student.unit %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @student.customer %>
</p>

<p>
  <strong>School history:</strong>
  <%= @student.school_history %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
