<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @login.email %>
</p>

<p>
  <strong>Active:</strong>
  <%= @login.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @login.user %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
