<%= form_with(model: product_custumer, local: true) do |form| %>
  <% if product_custumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_custumer.errors.count, "error") %> prohibited this product_custumer from being saved:</h2>

      <ul>
      <% product_custumer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :product_custumer_product_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :product_custumer_customer_id %>
  </div>

  <div class="field">
    <%= form.label :parcel %>
    <%= form.text_field :parcel, id: :product_custumer_parcel %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :product_custumer_student_id %>
  </div>

  <div class="field">
    <%= form.label :initial_date %>
    <%= form.date_select :initial_date, id: :product_custumer_initial_date %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :product_custumer_quantity %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount, id: :product_custumer_discount %>
  </div>

  <div class="field">
    <%= form.label :payment_link %>
    <%= form.text_field :payment_link, id: :product_custumer_payment_link %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :product_custumer_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
