<p id="notice"><%= notice %></p>

<h1>Product Custumers</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Customer</th>
      <th>Parcel</th>
      <th>Student</th>
      <th>Initial date</th>
      <th>Quantity</th>
      <th>Discount</th>
      <th>Payment link</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_custumers.each do |product_custumer| %>
      <tr>
        <td><%= product_custumer.product %></td>
        <td><%= product_custumer.customer %></td>
        <td><%= product_custumer.parcel %></td>
        <td><%= product_custumer.student %></td>
        <td><%= product_custumer.initial_date %></td>
        <td><%= product_custumer.quantity %></td>
        <td><%= product_custumer.discount %></td>
        <td><%= product_custumer.payment_link %></td>
        <td><%= product_custumer.active %></td>
        <td><%= link_to 'Show', product_custumer %></td>
        <td><%= link_to 'Edit', edit_product_custumer_path(product_custumer) %></td>
        <td><%= link_to 'Destroy', product_custumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Custumer', new_product_custumer_path %>
