<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_custumer.product %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @product_custumer.customer %>
</p>

<p>
  <strong>Parcel:</strong>
  <%= @product_custumer.parcel %>
</p>

<p>
  <strong>Student:</strong>
  <%= @product_custumer.student %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @product_custumer.initial_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product_custumer.quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product_custumer.discount %>
</p>

<p>
  <strong>Payment link:</strong>
  <%= @product_custumer.payment_link %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product_custumer.active %>
</p>

<%= link_to 'Edit', edit_product_custumer_path(@product_custumer) %> |
<%= link_to 'Back', product_custumers_path %>
