<%= form_with(model: matter, local: true) do |form| %>
  <% if matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matter.errors.count, "error") %> prohibited this matter from being saved:</h2>

      <ul>
      <% matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :matter_name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :matter_active %>
  </div>

  <div class="field">
    <%= form.label :base %>
    <%= form.number_field :base, id: :matter_base %>
  </div>

  <div class="field">
    <%= form.label :workload %>
    <%= form.text_field :workload, id: :matter_workload %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
