<p id="notice"><%= notice %></p>

<h1>Matters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Base</th>
      <th>Workload</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td><%= matter.name %></td>
        <td><%= matter.active %></td>
        <td><%= matter.base %></td>
        <td><%= matter.workload %></td>
        <td><%= link_to 'Show', matter %></td>
        <td><%= link_to 'Edit', edit_matter_path(matter) %></td>
        <td><%= link_to 'Destroy', matter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matter', new_matter_path %>
