<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @matter.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @matter.active %>
</p>

<p>
  <strong>Base:</strong>
  <%= @matter.base %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @matter.workload %>
</p>

<%= link_to 'Edit', edit_matter_path(@matter) %> |
<%= link_to 'Back', matters_path %>
