<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :user_cpf %>
  </div>

  <div class="field">
    <%= form.label :rg %>
    <%= form.text_field :rg, id: :user_rg %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :user_active %>
  </div>

  <div class="field">
    <%= form.label :type_user_id %>
    <%= form.text_field :type_user_id, id: :user_type_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
