<%= form_with(model: payment_datum, local: true) do |form| %>
  <% if payment_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_datum.errors.count, "error") %> prohibited this payment_datum from being saved:</h2>

      <ul>
      <% payment_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :payment_datum_name %>
  </div>

  <div class="field">
    <%= form.label :agency %>
    <%= form.text_field :agency, id: :payment_datum_agency %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count, id: :payment_datum_count %>
  </div>

  <div class="field">
    <%= form.label :wallet %>
    <%= form.text_field :wallet, id: :payment_datum_wallet %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :payment_datum_token %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :payment_datum_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
