<p id="notice"><%= notice %></p>

<h1>Payment Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Agency</th>
      <th>Count</th>
      <th>Wallet</th>
      <th>Token</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_data.each do |payment_datum| %>
      <tr>
        <td><%= payment_datum.name %></td>
        <td><%= payment_datum.agency %></td>
        <td><%= payment_datum.count %></td>
        <td><%= payment_datum.wallet %></td>
        <td><%= payment_datum.token %></td>
        <td><%= payment_datum.email %></td>
        <td><%= link_to 'Show', payment_datum %></td>
        <td><%= link_to 'Edit', edit_payment_datum_path(payment_datum) %></td>
        <td><%= link_to 'Destroy', payment_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Datum', new_payment_datum_path %>
