<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_datum.name %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @payment_datum.agency %>
</p>

<p>
  <strong>Count:</strong>
  <%= @payment_datum.count %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @payment_datum.wallet %>
</p>

<p>
  <strong>Token:</strong>
  <%= @payment_datum.token %>
</p>

<p>
  <strong>Email:</strong>
  <%= @payment_datum.email %>
</p>

<%= link_to 'Edit', edit_payment_datum_path(@payment_datum) %> |
<%= link_to 'Back', payment_data_path %>
