<%= form_with(model: permission, local: true) do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :permission_name %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :permission_descricao %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :permission_active %>
  </div>

  <div class="field">
    <%= form.label :subname %>
    <%= form.text_field :subname, id: :permission_subname %>
  </div>

  <div class="field">
    <%= form.label :module_name %>
    <%= form.text_field :module_name, id: :permission_module_name %>
  </div>

  <div class="field">
    <%= form.label :type_user_id %>
    <%= form.text_field :type_user_id, id: :permission_type_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
