<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descricao</th>
      <th>Active</th>
      <th>Subname</th>
      <th>Module name</th>
      <th>Type user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td><%= permission.descricao %></td>
        <td><%= permission.active %></td>
        <td><%= permission.subname %></td>
        <td><%= permission.module_name %></td>
        <td><%= permission.type_user %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path %>
