<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @permission.descricao %>
</p>

<p>
  <strong>Active:</strong>
  <%= @permission.active %>
</p>

<p>
  <strong>Subname:</strong>
  <%= @permission.subname %>
</p>

<p>
  <strong>Module name:</strong>
  <%= @permission.module_name %>
</p>

<p>
  <strong>Type user:</strong>
  <%= @permission.type_user %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
