<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @teacher.registration %>
</p>

<p>
  <strong>Active:</strong>
  <%= @teacher.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher.user %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
