<%= form_with(model: school_year, local: true) do |form| %>
  <% if school_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_year.errors.count, "error") %> prohibited this school_year from being saved:</h2>

      <ul>
      <% school_year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :school_year_name %>
  </div>

  <div class="field">
    <%= form.label :date_start %>
    <%= form.date_select :date_start, id: :school_year_date_start %>
  </div>

  <div class="field">
    <%= form.label :date_end %>
    <%= form.date_select :date_end, id: :school_year_date_end %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year, id: :school_year_year %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :school_year_active %>
  </div>

  <div class="field">
    <%= form.label :annual_average %>
    <%= form.text_field :annual_average, id: :school_year_annual_average %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
