<p id="notice"><%= notice %></p>

<h1>School Years</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Year</th>
      <th>Active</th>
      <th>Annual average</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_years.each do |school_year| %>
      <tr>
        <td><%= school_year.name %></td>
        <td><%= school_year.date_start %></td>
        <td><%= school_year.date_end %></td>
        <td><%= school_year.year %></td>
        <td><%= school_year.active %></td>
        <td><%= school_year.annual_average %></td>
        <td><%= link_to 'Show', school_year %></td>
        <td><%= link_to 'Edit', edit_school_year_path(school_year) %></td>
        <td><%= link_to 'Destroy', school_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Year', new_school_year_path %>
