<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_year.name %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @school_year.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @school_year.date_end %>
</p>

<p>
  <strong>Year:</strong>
  <%= @school_year.year %>
</p>

<p>
  <strong>Active:</strong>
  <%= @school_year.active %>
</p>

<p>
  <strong>Annual average:</strong>
  <%= @school_year.annual_average %>
</p>

<%= link_to 'Edit', edit_school_year_path(@school_year) %> |
<%= link_to 'Back', school_years_path %>
