<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :social_name %>
    <%= form.text_field :social_name, id: :school_social_name %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, id: :school_cnpj %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :school_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
