<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Social name:</strong>
  <%= @school.social_name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @school.cnpj %>
</p>

<p>
  <strong>Active:</strong>
  <%= @school.active %>
</p>

<%= link_to 'Editar', edit_school_path(@school) %> |
<%= link_to 'Voltar', schools_path %>

<%= link_to 'Nova unidade', new_school_unit_path(@school) %>

<%# new_configuracao_ura_linha_configuracao_path(@configuracao_ura) %>
