<%= form_with(model: school_history, local: true) do |form| %>
  <% if school_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_history.errors.count, "error") %> prohibited this school_history from being saved:</h2>

      <ul>
      <% school_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, id: :school_history_birthdate %>
  </div>

  <div class="field">
    <%= form.label :naturalness %>
    <%= form.text_field :naturalness, id: :school_history_naturalness %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, id: :school_history_nationality %>
  </div>

  <div class="field">
    <%= form.label :document_id %>
    <%= form.text_field :document_id, id: :school_history_document_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :school_history_state %>
  </div>

  <div class="field">
    <%= form.label :birth_certificate %>
    <%= form.text_field :birth_certificate, id: :school_history_birth_certificate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
