<p id="notice"><%= notice %></p>

<h1>School Histories</h1>

<table>
  <thead>
    <tr>
      <th>Birthdate</th>
      <th>Naturalness</th>
      <th>Nationality</th>
      <th>Document</th>
      <th>State</th>
      <th>Birth certificate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_histories.each do |school_history| %>
      <tr>
        <td><%= school_history.birthdate %></td>
        <td><%= school_history.naturalness %></td>
        <td><%= school_history.nationality %></td>
        <td><%= school_history.document_id %></td>
        <td><%= school_history.state %></td>
        <td><%= school_history.birth_certificate %></td>
        <td><%= link_to 'Show', school_history %></td>
        <td><%= link_to 'Edit', edit_school_history_path(school_history) %></td>
        <td><%= link_to 'Destroy', school_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School History', new_school_history_path %>
