<p id="notice"><%= notice %></p>

<p>
  <strong>Birthdate:</strong>
  <%= @school_history.birthdate %>
</p>

<p>
  <strong>Naturalness:</strong>
  <%= @school_history.naturalness %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @school_history.nationality %>
</p>

<p>
  <strong>Document:</strong>
  <%= @school_history.document_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @school_history.state %>
</p>

<p>
  <strong>Birth certificate:</strong>
  <%= @school_history.birth_certificate %>
</p>

<%= link_to 'Edit', edit_school_history_path(@school_history) %> |
<%= link_to 'Back', school_histories_path %>
