
<%= simple_form_for([@school, @unit], html: { style: 'width: 35%' }) do |f| %>
  <%= f.input :name, :label => "Nome:" %>
  <%= f.input :active, :as => :hidden, :input_html => {:value => 1}  %>
  <%= f.input :school_id, :as => :hidden, :input_html => {:value => @school.id}  %>
  <%= f.simple_fields_for :address do |a| %>
    <%= a.input :cep %>
    <%= a.input :street, label: "Logradouro:" %>
    <%= a.input :number, label: "Número:" %>
    <%= a.input :district, label: "Bairro:" %>
    <%= a.input :complement, label: "Complemento:"  %>
  <% end %>
  <%= f.simple_fields_for :contact_phone do |p| %>
    <%= p.input :phone, label: "Telefone:" %>
  <% end %>
  <br>
  <% if @unit.id == nil %>
    <%= f.button :submit, "Criar Unidade", :class => "btn btn-success" %>
  <% else %>
    <%= f.button :submit, "Atualizar Unidade", :class => "btn btn-success" %>
  <% end %>
<% end %>

<br>

