<table class="table table-striped" >
  <thead>
    <tr>
      <th>Nome</th>
      <th>Situação</th>
      <th>Escola</th>
      <th>endereço</th>
      <th>Telefone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.active %></td>
        <td><%= unit.school.name %></td>
        <td><%= unit.address %></td>
        <% if !unit.contact_phone.nil? %>
        <td><%= unit.contact_phone.phone %></td>
        <% else %>
        <td>Não informado</td>
        <% end %>

        <% if !unit.contact_email.nil? %>
          <td><%= unit.contact_email.email %></td>
        <% else %>
          <td>Não informado</td>
        <% end %>

        <td><%#= link_to 'Detalhes', unit %></td>
        <td><%= link_to 'Editar', edit_school_unit_path(@school.id, unit) %></td>
        <td><%#= link_to 'Apagar', unit, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Unidade', new_school_unit_path(1), :class => "btn btn-primary" %>

<br>
<br>