
<% if flash[:alert] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render 'form', unit: @unit %>

<%= link_to 'Voltar', school_units_path(@school.id) %>
