<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @unit.active %>
</p>

<p>
  <strong>School:</strong>
  <%= @unit.school %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unit.address %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @unit.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @unit.contact_email %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
