<% if login_signed_in? %>
  <li><%= link_to 'Editar conta', edit_login_registration_path %></li>
  <li><%= link_to 'Sair', destroy_login_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Entrar', new_login_session_path %></li>
  <li><%= link_to 'Cadastrar-se', new_login_registration_path %></li>
<% end %>
<% if login_signed_in? %>
  <li><%= link_to 'Usuários', logins_path %></li>
<% end %>