<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Crixus School</a>
  </div>

  <ul class="nav navbar-top-links navbar-right pull-right">
    <li class="dropdown">
      <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav in" id="side-menu">
        <li>
          <a href="/">
            <i class="fa fa-dashboard fa-fw"></i>
            Dashboard</a>
        </li>
        <li>
          <%= link_to school_units_path(1) do %><i class='fa fa-dashboard fa-fw'></i> Unidades<% end %>
        </li>
        <li>
          <%= link_to school_students_path(1) do %><i class='fa fa-dashboard fa-fw'></i> Alunos<% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Sensors<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a>teste</a><%#= link_to 'Manage sensors', sensors_path() %>
            </li>
            <li>
              <a>teste 2</a><%#= link_to 'Create new sensor', new_sensor_path() %>
            </li>
          </ul>
        </li>
        <li>
          <a href="/pages/about">
            <i class="fa  fa-info-circle fa-fw"></i>
            About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>