<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= content_for?(:title) ? yield(:title) : "Crixus School" %>
  </title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Crixus School" %>">
  <%= stylesheet_link_tag 'application.scss', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper" class="">
  <%= render 'layouts/navbar' %>
</div>

<div id="page-wrapper">
  <%= render 'layouts/title' %>
  <%= render 'layouts/messages' %>

  <!--<div>
    <div class="panel panel-default">
      <!--<div class="panel-heading">
        <%#= content_for?(:panel_heading) ? yield(:panel_heading) : "Dashboard" %>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>-->
  <%= yield %>
</div>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= content_for?(:extra_scripts) ? yield(:extra_scripts) : nil %>
</html>